@import "variables";
@import "mixins";

/*___Generales___*/

/*___Fin Generales___*/


.edukiak-igo .form-balibideak  .form-group {
        margin-left: 0;
        margin-right: 0;
      }

.search .form-control {
    height:auto;
}
.search .form-control .select2-search-choice {
    overflow:hidden;
}
.search .form-control .select2-search-choice-close {
    padding:0!important;
}
.search .select2-container-multi .select2-choices, .search .select2-container-multi .select2-choices {
    background: none;
    border: none;
    box-shadow: none !important;
    float:left;
    display: inline !important;
    width: 100% !important;
}

/*Media Queries*/
/* sm */
@media (min-width: 768px) and (max-width: 991px) {

}
