---
title : Unibertsoa

elements :
  - miga : "Kategoriak"
  - miga : "Natur Zienztiak"

subheader-ficha :
  nombre : "Natur Zientziak"
  class : "bg-green"

sidebar-ficha :
  id : "sidebar-ficha"
  class : "pull-right bg-standard-grey"
  bloques :
    - title : "Baliabidearen fitxa"
      title-class : "stronger"
      type-caracteristicas : 1
      icons-list :
        - icon : "fa-film"
        - icon : "fa-folder"
        - icon : "fa-desktop"
        - icon : "fa-camera-retro"
        - icon : "fa-volume-up"
      categoria : "Natur zientziak"
      class-categoria : "bg-green"
      edad-min : "11"
      edad-max : "14"
      curso : "D.B.H. 2"
      tags :
        - tag : "asteroideak"
        - tag : "espazioa"
        - tag : "eguzki sistema"
        - tag : "unibertsoa"
    - title : "Egilea"
      title-class : "no-border"
      type-autor : 1
      imagen : "images/perfil-sidebar.png"
      autor : "Eguzki99"
      otros_autores :
        - nombre : "Egile,"
        - nombre : "Lorelei"
      centro : "Lauro Ikastola"
    - title : "Partekatu"
      title-class : "no-border"
      type-social : 1
      icons-list :
        - icon : "fa-twitter"
        - icon : "fa-facebook"
        - icon : "fa-pinterest"
        - icon : "fa-google-plus"
        - icon : "fa-linkedin"
        - icon : "fa-envelope"

ficha-content-data :
  class : ""
  title : "Unibertsoa"
  date : "2014.04.16"
  num-leido : 102
  num-megusta : 102
  num-comentario : 1233
  text : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie ipsum metus, non bibendum leo adipiscing sed. Duis turpis risus, dignissim malesuada aliquet sed, tempor et nibh. Vivamus in enim molestie, tempus tortor non, auctor mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id eleifend sem, sed tempus lacus. Suspendisse ornare at tortor id suscipit. Morbi et libero eu sapien suscipit tempus vitae eu dui. Duis vel diam porttitor, porttitor purus quis, feugiat elit.</p><p>Aenean et urna vel dolor dictum viverra quis vel mi. Nullam sit amet viverra arcu. Morbi in odio urna. Maecenas lacus ipsum, tincidunt eu erat dapibus, gravida scelerisque nisl. In hac habitasse platea dictumst. Praesent id pellentesque arcu. Integer tristique pulvinar mollis. Etiam at diam ac tortor commodo interdum. Sed placerat sodales lobortis. Pellentesque non eros eu felis iaculis malesuada. Vivamus nec tortor arcu. Sed et vestibulum metus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>"
  docs :
    - doc : "Unibertsoaren mapa contzeptuala"
      ext : ".pdf"
  images :
    - image : "images/universo.jpg"
      alt : "Universo"
  videos :
    - video : "<iframe src='//www.youtube.com/embed/ANl6uiy5PPQ' frameborder='0' allowfullscreen></iframe>"

comentarios-data :
  comentarios :
    - image : "images/perfil-sidebar.png"
      autor : "alias5768"
      date : "hace 2 meses"
      text : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie ipsum metus, non bibendum leo adipiscing sed. </p>"
    - image : "images/perfil-sidebar.png"
      autor : "alias 90"
      date : "hace 4 meses"
      text : "<p>Aenean et urna vel dolor dictum viverra quis vel mi. Nullam sit amet viverra arcu. Morbi in odio urna. Maecenas lacus ipsum, tincidunt eu erat dapibus, gravida scelerisque nisl. In hac habitasse platea dictumst.</p>"


datos-fichas-relacionadas :
  title : "Erlazionatutako baliabideak"
  fichas :
    - width : "col-xs-12 col-sm-4"
      image : "images/universo.jpg"
      alt : "Universo"
      class-caption : "bg-blue"
      icons-list :
        - icon : "fa-folder"
        - icon : "fa-desktop"
        - icon : "fa-volume-up"
      categoria : "Natur zientziak"
      title : "Izenburua Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      edad-min : "11"
      edad-max : "14"
      curso : "D.B.H. 2"
      autor : "Egilearen izena"
      centro : "Deustuko Ikastola"
      num-leido : 102
      num-megusta : 102
      num-comentario : 1233
    - width : "col-xs-12 col-sm-4"
      image : "images/universo.jpg"
      alt : "Universo"
      class-caption : "bg-yellow"
      icons-list :
        - icon : "fa-folder"
        - icon : "fa-desktop"
        - icon : "fa-volume-up"
      categoria : "Natur zientziak"
      title : "Izenburua Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      edad-min : "11"
      edad-max : "14"
      curso : "D.B.H. 2"
      autor : "Egilearen izena"
      centro : "Deustuko Ikastola"
      num-leido : 102
      num-megusta : 102
      num-comentario : 1233
    - width : "col-xs-12 col-sm-4"
      image : "images/universo.jpg"
      alt : "Universo"
      class-caption : "bg-grey"
      icons-list :
        - icon : "fa-folder"
        - icon : "fa-desktop"
        - icon : "fa-volume-up"
      categoria : "Natur zientziak"
      title : "Izenburua Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      edad-min : "11"
      edad-max : "14"
      curso : "D.B.H. 2"
      autor : "Egilearen izena"
      centro : "Deustuko Ikastola"
      num-leido : 102
      num-megusta : 102
      num-comentario : 1233


---
<div class = 'container principal'>

  {{> subheader subheader-ficha}}

  {{> ficha_content ficha-content-data }}

  {{> sidebar sidebar-ficha}}

</div>

{{> comentarios comentarios-data}}

<div class = 'container'>
  {{> fichas_relacionadas datos-fichas-relacionadas}}
</div>
