---
title : Kontaktua

bloque-texto-data :
  class : "p-top-3"
  class-header : ""
  title : "Kontaktua"
  subtitle : "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
  text : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam odio leo, mollis a mollis non, commodo et ipsum.</p>"

---

{{> bloque_texto bloque-texto-data}}

<div class="container kontaktua">
	<div class="row">
		<div class="col-xs-12">
			<div class="color-border"></div>
		</div>
	</div>

	<div class = 'row'>
		<div class = 'col-xs-12 col-sm-6'>
			<form role="form" class="form-horizontal kontaktua">
				<input type="text" class="form-control" id="izena" placeholder="Izena"/>
				<input type="text" class="form-control" id="mail" placeholder="Posta elektronikoa"/>
				<input type="text" class="form-control" id="gaia" placeholder="Gaia"/>
				<textarea class = "form-control" id = "mezua" rows = "8" placeholder="Mezua"></textarea>
				<button class = 'btn'>Bidali</button>
			</form>
		</div>
	</div>
</div>

