---
component : bloque-evento
---

<section class = 'bloque-evento container'>
	<header>
		<h1>{{title}}</h1>
		<div class = 'date-info'>2014.4.20</div>
	</header>
	<img src = '{{image}}' alt = '{{alt}}'/>
	<div class = 'text col-md-10'>
		{{{text}}}
	</div>
</section>