---
component : bloque-interior
---

<div class = 'bloque-interior {{class}}'>
	<figure>
		<img src = '{{image}}' alt = 'alt'/>
	</figure>
	<header>
		<h4>{{title}}</h4>
		<p>{{description}}</p>
	</header>
</div>