---
component : categoria-title
---

<div class = 'col-xs-12 categoria categoria-title {{class}}'>
	<h1>{{nombre}}</h1>
	<span class="cantidad-recurso"><strong>{{recursos}}</strong> baliabide</span>
</div>