---
component : esquema-home
---

<section class = 'esquema-home'>
	<div class = 'container'>
		<header class = 'p-bottom-3 p-top-3 content aire'>
			<h2>Guztion artean osatzen dugu Klikasi</h2>
			<small>Edukiak partekatu, zabaldu eta ikasi</small>
		</header>
	</div>
	<div class = 'container'>
		<img id = 'esquema-flecha-1' src = 'images/esquema_arrows_1.png' alt = 'Flechas'/>
		<img id = 'esquema-flecha-2' src = 'images/esquema_arrows_2.png' alt = 'Flechas'/>
		<div class = 'row text-center'>
			<div class = 'col-xs-12 col-sm-4'>
				<div class = 'circulo'>
					<img src = 'images/icon_draw.png' alt = 'Icon Draw' />
				</div>
				<span>Sortu</span>
			</div>
			<div class = 'col-xs-12 col-sm-4 text-center'>
				<div class = 'circulo'>
					<img src = 'images/icon_comment.png' alt = 'Icon Draw' />
				</div>
				<span>Partekatu</span>
			</div>
			<div class = 'col-xs-12 col-sm-4 text-center'>
				<div class = 'circulo'>
					<img src = 'images/icon_devices.png' alt = 'Icon Draw' />
				</div>
				<span>Ikasi</span>
			</div>
			
		</div>
	</div>
</section>