---
component: filtro_buscador
---

<div class = 'filtro-buscador col-xs-12'>
	<ul>
	 <li><strong>Ordenatu:</strong></li>
	 <li class = 'no-border'><a href="javascript:void(0)" data-sort-by="moreLikes">Berrienak</a></li>
	 <li><a href="javascript:void(0)" data-sort-by="moreViews">Ikusienak</a></li>
	 <li><a href="javascript:void(0)" data-sort-by="moreLikes">Molatuenak</a></li>
	</ul>
</div>

