<footer>
	<div class="container">
        <img src="images/logo_footer_klikasi.png" alt="Klikasi. Sortu. Partekatu. Ikasi." class="pull-left">
        <nav class="pull-right list-inline">
	        <ul class="list-unstyled list-inline">
	        	<li> <a href="honi-buruz.html">Honi buruz</a> </li>
	            <li> <a href="kontaktua.html">Kontaktua</a> </li>
	            <li> <a href="pribatutasun-politika.html">Pribatutasun politika</a> </li>
	        </ul>
	        <ul id="cc" class="list-unstyled list-inline">
	            <li> <a class="cc-icons" href="#"><span>c</span></a> </li>
	            <li> <a class="cc-icons" href="#"><span>b</span></a> </li>
	            <li> <a class="cc-icons" href="#"><span>a</span></a> </li>
	         </ul>
         </nav>
      </div>
</footer>