---
component: header
---
 <header>
      <!-- Fixed navbar -->
      <div class="navbar navbar-default" role="navigation">

        <div class="container">
          <!-- Menú superior login -->
          <nav id="header-login" role="navigation">
            <ul class="nav navbar-nav list-inline pull-right">
              <li class="icon-login"><a href="#"><span class="glyphicon glyphicon-heart-empty"></span><span class="cantidad">16</span></a></li>
              <li class="icon-login"><a href="#"><i class="fa fa-comments"></i><span class="cantidad">5</span></a></li>
              <li class="dropdown mi-cuenta">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eguzki99 <img src="images/perfil.png" class="img-circle"> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" class="perfil"><img src="images/perfil.png" class="img-circle"> Eguzki99</a></li>
                    <li class="icon-login"><a href="#"><i class="fa fa-comments"></i> Iruzkinak <span class="cantidad">5</span></a></li>
                    <li class="icon-login"><a href="#"><span class="glyphicon glyphicon-star"></span> Gogokoak <span class="cantidad">16</span></a></li>
                    <li class="icon-login"><a href="#"><span class="glyphicon glyphicon-heart-empty"></span> Atsegin dut <span class="cantidad">16</span></a></li>
                    <li class="divider"></li>
                    <li class="icon-login"><a href="#"><span class="glyphicon glyphicon-log-out"></span>Saioa Itxi</a></li>
                  </ul>
              </li>
            </ul>
          </nav>
          <nav class="navbar-header" role="navigation">
            <a class="navbar-brand" href="index.html">
              <img class="" src="images/logo_klikasi.png" alt="Klikasi. Sortu. Partekatu. Ikasi.">
              <!-- <img class="visible-xs" src="images/logo_klikasi_mobile.png" alt="Klikasi. Sortu. Partekatu. Ikasi."> -->
            </a>
            <ul id="header-social" class="nav navbar-nav list-inline pull-right">
              <li><a href="http://www.azkuefundazioa.org" target="_blank" class="azkue">Azkue Fundazioa</a></li>
              
              <li><a href="https://twitter.com/AzkueFundazioa" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/AzkueFundazioa" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="http://www.pinterest.com/azkuefundazioa/" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a></li>
              <li><a href="https://www.youtube.com/user/AzkueFundazioa" target="_blank" class="diigo">Diigo</a></li>
              
              <li><a href="http://www.azkuefundazioarenegunkaria.org/" target="_blank" class="blog">Bloga</a></li>
              <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
            </ul>
          </nav>
          <nav id="mega-menu" class="text-center" role="navigation">
            <ul class="nav row">
              <li class="active col-xs-6 col-sm-3"><a href="categorias.html">Kategoriak</a></li>
              <li class="col-xs-6 col-sm-3"><a href="centros.html">Ikastegiak</a></li>
              <li class="col-xs-6 col-sm-3"><a href="edukiak-igo.html">Edukiak igo <span class="glyphicon glyphicon-upload"></span></a></li>
              <li class="bilatu col-xs-6 col-sm-3 dropdown mega-menu-fw">
                <a href="#" class="color-border dropdown-toggle" data-toggle="dropdown">Bilatu <span class="glyphicon glyphicon-search"></span></a>
                <div class="dropdown-menu mega-menu-content">
                      <div class="container aire">
                        <div class="row search">
                          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <form class="navbar-form navbar-left" role="search">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="_____">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                              </div>
                              
                            </form>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-4">
                            <label>Kategoriak</label>
                            <span class="select"><i class="fa fa-chevron-down"></i>
                              <select class="form-control">
                                <option>Natur Zientziak</option>
                                <option>Matematika</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </span>
                          </div><!-- /.col-sm-4 -->

                          <div class="col-sm-4">
                            <label>Fitxategi mota</label>
                              <span class="select"><i class="fa fa-chevron-down"></i>
                              <select class="form-control">
                                <option>Argazkiak</option>
                                <option>Bideoak</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </span>
                          </div><!-- /.col-sm-4 -->

                          <div class="col-sm-4">
                              <label>Data artean</label>
                              <span class="select"><i class="fa fa-chevron-down"></i>
                              <select class="form-control">
                                <option>Natur Zientziak</option>
                                <option>Matematika</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </span>
                          </div><!-- /.col-sm-4 -->
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-4">
                            <label>Ikastegia</label>
                              <span class="select"><i class="fa fa-chevron-down"></i>
                              <select class="form-control">
                                <option>Deustuko Ikastola</option>
                                <option>Lauro Ikastola</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </span>
                          </div><!-- /.col-sm-4 -->

                          <div class="col-sm-4">
                            <label>Ikasturtea</label>
                              <span class="select"><i class="fa fa-chevron-down"></i>
                              <select class="form-control">
                                <option>D.B.H.1</option>
                                <option>D.B.H.2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </span>
                          </div><!-- /.col-sm-4 -->

                          <div class="col-sm-4">
                            <label>Adina</label>
                              <span class="sel-edad col-xs-12">
                                <span data-original-title="Default tooltip" data-toggle="tooltip" class="edad-min">
                                  <a href="#">
                                    <span class="edad"><strong>11</strong> urtetik</span>
                                    <span class="punto-cat"></span>
                                  </a>
                                </span>
                                <span data-original-title="Default tooltip" data-toggle="tooltip" class="edad-max">
                                  <a href="#">
                                    <span class="edad"><strong>14</strong> urtera</span>
                                    <span class="punto-cat"></span>
                                  </a>
                                </span>
                                <hr class="edad">
                                </span>
                            </span>
                          </div><!-- /.col-sm-4 -->
                        </div>
                        <hr class="hr-button">
                        <div class="pull-right search-formbutton">
                          <a href="#"><span class="button">Iragazi</span></a>
                          <a href="#"><span><i class="fa fa-refresh"></i></span></a>
                          <a href="#"><span class="angle-up"><i class="fa fa-angle-up"></i></span></a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
          </nav><!--/.nav -->


          <!-- Menú scroll -->
          <nav id="mega-menu" class="hidden-xs text-center scroll-menu hide" role="navigation">
            <ul class="nav row">
              <li class="logo-menu col-sm-3"><a href="#"><img class="" src="images/logo_klikasi_scroll.png" alt="Klikasi. Sortu. Partekatu. Ikasi."></a></li>
              <li class="active col-sm-3"><a href="#">Kategoriak</a></li>
              <li class="col-sm-3"><a href="#">Ikastegiak</a></li>
              <li class="col-sm-3"><a href="#">Edukiak igo <span class="glyphicon glyphicon-upload"></span></i></a></li>
              <li class="bilatu col-xs-6 col-sm-3 dropdown mega-menu-fw">
                <a href="#" class="color-border dropdown-toggle" data-toggle="dropdown">Bilatu <span class="glyphicon glyphicon-search"></span></a>
                   <div class="dropdown-menu mega-menu-content">
                      <div class="container aire">
                        <div class="row search">
                          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <form class="navbar-form navbar-left" role="search">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="_____">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                              </div>
                              
                            </form>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-4">
                            <label>Kategoriak</label>
                            <span class="select"><i class="fa fa-chevron-down"></i>
                              <select class="form-control">
                                <option>Natur Zientziak</option>
                                <option>Matematika</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </span>
                          </div><!-- /.col-sm-4 -->

                          <div class="col-sm-4">
                            <label>Fitxategi mota</label>
                              <span class="select"><i class="fa fa-chevron-down"></i>
                              <select class="form-control">
                                <option>Argazkiak</option>
                                <option>Bideoak</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </span>
                          </div><!-- /.col-sm-4 -->

                          <div class="col-sm-4">
                              <label>Data artean</label>
                              <span class="select"><i class="fa fa-chevron-down"></i>
                              <select class="form-control">
                                <option>Natur Zientziak</option>
                                <option>Matematika</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </span>
                          </div><!-- /.col-sm-4 -->
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-4">
                            <label>Ikastegia</label>
                              <span class="select"><i class="fa fa-chevron-down"></i>
                              <select class="form-control">
                                <option>Deustuko Ikastola</option>
                                <option>Lauro Ikastola</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </span>
                          </div><!-- /.col-sm-4 -->

                          <div class="col-sm-4">
                            <label>Ikasturtea</label>
                              <span class="select"><i class="fa fa-chevron-down"></i>
                              <select class="form-control">
                                <option>D.B.H.1</option>
                                <option>D.B.H.2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </span>
                          </div><!-- /.col-sm-4 -->

                          <div class="col-sm-4">
                            <label>Adina</label>
                              <span class="sel-edad col-xs-12">
                                <span data-original-title="Default tooltip" data-toggle="tooltip" class="edad-min">
                                  <a href="#">
                                    <span class="edad"><strong>11</strong> urtetik</span>
                                    <span class="punto-cat"></span>
                                  </a>
                                </span>
                                <span data-original-title="Default tooltip" data-toggle="tooltip" class="edad-max">
                                  <a href="#">
                                    <span class="edad"><strong>14</strong> urtera</span>
                                    <span class="punto-cat"></span>
                                  </a>
                                </span>
                                <hr class="edad">
                                </span>
                            </span>
                          </div><!-- /.col-sm-4 -->
                        </div>
                        <hr class="hr-button">
                        <div class="pull-right search-formbutton">
                          <a href="#"><span class="button">Iragazi</span></a>
                          <a href="#"><span><i class="fa fa-refresh"></i></span></a>
                          <a href="#"><span class="angle-up"><i class="fa fa-angle-up"></i></span></a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
          </nav><!--/.nav -->
          
          <!-- /Menú scroll -->
        </div>
      </div>
    </header>