---
component : info-ficha
---

<small class = 'info-ficha pull-right'>
	<span class="cont">
		<i class = 'fa fa-eye'></i>
		<span class="moreViews">{{num-leido}}</span>
	</span>
	<span class="cont">
		<span class = 'glyphicon glyphicon-heart-empty'></span>
		<span class="moreLikes">{{num-megusta}}</span>
	</span>
	<span class="cont">
		<i class = 'fa fa-comments'></i>
		<span>{{num-comentario}}</span>
	</span>
</small>