

$gray-darker:            lighten(#000, 13.5%);
$gray-dark:              lighten(#000, 20%);
$gray:                   lighten(#000, 33.5%);
$gray-light:             lighten(#000, 60%);
$gray-lighter:           lighten(#000, 93.5%);

$header-gutter : 3px;

$font-open:    'Open Sans', sans-serif, "Helvetica Neue",Helvetica;
$primary-color: #333;
$a-color: #9f9f9f;
$std-bg-grey: #f6f6f6;
$std-bg-grey-border: #ddd;
$bg-red: #e20404;
$bg-grey-button: #7f7f7f;

$gutter : 15px;


/*Colors*/
$bg-green: #55bc75;
$bg-green-border: #52b370;

$bg-pink: #c20551;
$bg-pink-border: #c20551;

$bg-yellow: #ffb400;
$bg-yellow-border: #ffb400;

$bg-blue: #14b9d6;
$bg-blue-border: #14b9d6;

$bg-grey: #78979b;
$bg-grey-border: #78979b;

$bg-light-grey : #dddddd;

$bg-brown: #ab5728;
$bg-brown-border: #ab5728;

$bg-orange: #e6663a;
$bg-orange-border: #e6663a;


$light: #fff;
$dark: #000;